# OpenCart Database connection values
OC_DB_HOSTNAME=mysql
OC_DB_USERNAME=opencart
OC_DB_PASSWORD=opencart
OC_DB_DATABASE=opencart
OC_DB_DRIVER=mysqli

# OpenCart Administration user
OC_USERNAME=admin
OC_PASSWORD=admin
OC_EMAIL=you@example.com

# Server Specification
SERVER_PORT=8080
SERVER_URL=http://localhost

TEST_SUITE=3.0
OPENCART=3.0.2.0
