<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="catalog-tests">
            <directory suffix="CatalogTest.php">./tests/catalog/</directory>
        </testsuite>
        <testsuite name="admin-tests">
            <directory suffix="AdminTest.php">./tests/admin/</directory>
        </testsuite>
        <testsuite name="library-tests">
            <directory suffix="LibraryTest.php">./tests/library/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="OC_ROOT" value="./www/" />
        <env name="HTTP_SERVER" value="http://localhost:8000/" />
        <env name="TEST_CONFIG" value="test-config" />
    </php>
</phpunit>